
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Ember CRM</title>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <% if params[:controller] != 'ui' %>
      <%= javascript_include_tag "application" %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="ember-app"></div>
    <%= yield %>
  </body>
</html>

